.header_container{
    background-color: #1F2937;
    color: white;
    box-sizing: border-box;
    margin: auto;
    padding: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 0px;
    font-family: Arial, Helvetica, sans-serif;

}

.left-side {
    font-size: 24px;
}

.right-side{
    display: flex;
    gap: 20px;
    font-size: 18px;
}

.hero_container{
    background-color: #1F2937;
    display: flex;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap:50px;
    padding-bottom: 75px;
}

.hero-section{
    flex: 1 0 0;
    /*border: 2px solid red;*/  
    margin-left: 300px;
    padding-top: 0px;
}

.image-placeholder{
    flex: 1;
    /*border: 2px solid red;*/
    margin-right: 300px;

    

}

button{
    background-color: #3882F6;
    font-size: 18px;
    color: white;
    border-radius: 5px;
    padding: 5px 30px;
}

h1{
    margin-bottom: 0 px;
}

p {
    margin-top: 0px;
}

a{
    text-decoration: none;
    color: white;
    font-size: 18px;
}